:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #ff4da6;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #08070c;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    #ff4da6,
    #b66cff
  );

  border-radius: 20px;
}